@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.mainToDo{
    width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 20px;
}

.yellowHeader{
    width: 500px;
    height: 39.73px;
    border-radius: 20px 20px 0 0;
    background-color: #FFDC40;
}

.ToDoListText{
    width: 294.6px;
    height: 24.79px;
    font: 26px "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 30px;
    margin: 4.76190476% auto;
    text-align: center;
}

.toDoListForm{
    display: block;
}

.sortImage{
    width: 23.48px;
    height: 15.08px;
    margin-right: 8.92857143%;
    margin-bottom: 3.64583333%;
    margin-left: 84.375%;
    background: url("./images/NotFilledSortDown.png");
    outline: none;
    border-style: none;
}

.add{
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 85.1190476%;
    margin: 0 auto;
    margin-bottom: 5.35714286%;
}

.divInput{
    display: flex;
}

.inputToDo{
    width: 362.25px;
    font: 14px "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 4.5%;
    padding-top: 4.5%;
    box-sizing: border-box;
    text-align: left;
    border: none;
    border-radius: 10px;
    outline: none;
}

.delete{
    border-radius: 100%;
    width: 28.41px;
    height: 27px;
    margin-top: 3.51288056%;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
    outline: none;
}

.buttonAdd{
    width: 223.21px;
    height: 59.61px;
    background-color: #833AE0;
    border-radius: 71px;
    margin-left: 27.3809524%;
    margin-right: 27.3809524%;
    display: flex;
    padding: 0;
    outline: none;
    margin-bottom: 19px;
}

.circlePlus{
    width: 55px;
    height: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: white;
    font: 24px "Roboto", sans-serif;
    border-radius: 100%;
    border: 1px solid #833AE0;
    background-color: #9953F1;
    padding-left: 0;
}

.buttonText{
    font: 17px "Roboto", sans-serif;
    color: white;
    padding-left: 36px;
}